@import "../../../src/variables.scss";
$button-base: #FFF468;
$button-hover: #FFF683;

#view{
  width: 80vw;
  height: 70vh;
  margin: 5vh auto;
}


.continue {
  text-align: center;
  margin-top: 50px;
}
.continue button {
  padding: 1.2em 2em;
  text-decoration: none;
  font-family: $primary-font;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: #181717;
  background: $button-base;
  opacity: 1;
  transition: background-color 0.25s, opacity 0.25s ease-out; /* vendorless fallback */
}

.continue button:hover {
  cursor: pointer;
  background: $button-hover;
}

.continue button:disabled {
  color: #dcdcdc;
  background: #a6a6a6;
  opacity: 0.5;
}


.v1 {
  color: white;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 3vw;
  padding-top: 15vh;
  text-align: center;

}

.v1 .highlighted-container{
  display: block;

}

.v1 .highlight{
  height: 7vw;
  position: absolute;
  z-index: -10;
  background-color: #fff568;
  padding: 5px 15px;
  transform: translate(-15px, -5px);
}


.v1 .highlighted-container{
  font-family: $primary-font;
  font-weight: 700;
  font-size: 4.5vw;
  margin: 5vw auto;
  // color: #181718;
  display: inline-block;
}