<div id="view" [ngSwitch]="progress">

    <div class="v1" *ngSwitchCase="0">
        <!-- <div id="grid"></div> -->
        <div [@fadeDrop] (@fadeDrop.done)="first_fadeDropCompletion()">
            <span>How</span>
            <span> to</span>
            <span> create</span>
            <span> a</span>
            <span> song's</span>
        </div>

        <div class="highlighted-container">
            <span [@highlight]="first_highlight" class="highlight"></span>
            <span [@highlightText]="first_text_highlight" (@highlightText.done)="animEnd($event)">
                Lyrical Fingerprint
            </span>
        </div>
    </div>


    <div class="v2" *ngSwitchCase="1">
        <div id="notGraph">
            <div [ngStyle]="!showHowTo && {'opacity': '0'}">
                <span>How</span>
                <span> to</span>
                <span> create</span>
                <span> a</span>
                <span> song's</span>
            </div>
            <div class="highlighted-container" [@raiseHighlight] (@raiseHighlight.done)="second_raiseHighlightDone()">
                <span [@highlight]="first_highlight" class="highlight"
                    (@highlight.done)="second_closeHighlightDone($event)"></span>
                <span [@highlightText]="first_text_highlight">
                    Lyrical Fingerprint
                </span>
            </div>
        </div>
    </div>

    <div class="v3" *ngSwitchCase="2">
        <video id="video" autoplay [muted]="true" (timeupdate)="checkForPause($event.target)" (ended)="handleVidEnd()">
            <source src="../../assets/full_grid.mp4">
        </video>
        <img id="imgReplacement" src="../../assets/end_grid.jpg" alt="">
    </div>
    <div class="v4" *ngSwitchCase="3">
        <img [@moveLeft]="{value: 'filler', params: { gridLeftMargin: gridLeftMargin}}"
            (@moveLeft.done)="imgMoveLeftdone()" src="../../assets/end_grid.jpg" alt="">
        <ul [@dropPoints]="bulletStatus" (@dropPoints.done)="dropPointsDone()" class="bullets">
            <li>
                <div>
                    This 8 x 8 matrix represents 8 words of the song "Barbie Girl"
                </div>
            </li>
            <li>
                <div>
                    Each row and column of the matrix corresponds to a word in the lyrics
                </div>
            </li>
            <li>
                <div>
                    A grid cell is filled in if its row has the same word as its column
                </div>
            </li>
            <li>
                <div>
                    It's a beautiful way to look at repetitive patterns in song lyrics. We hope you have fun playing around. 
                </div>
            </li>
            
        </ul>
    </div>
</div>
<div class="continue">
    <button class="continue" [disabled]="!buttonActive" #continueButton> {{buttonMessage}} </button>
</div>