@import "../../../src/variables.scss";
$button-base: #2193b0;
$button-hover: #6dd5ed;

img {
  display: block;
  margin: 0 auto;
  padding-top: 20vh;
  height: 30vh;
}

.progress-container {
  width: 50vw;
  display: block;
  margin: 0 auto;
  height: 10px;
  border-radius: 5px;
  background: #111111;
}

.progress {
  width: 0%;
  height: 10px;
  border-radius: 5px;
  margin-top: 100px;
  background: linear-gradient(to right, $button-base, $button-hover) fixed;
}

.continue {
  text-align: center;
  margin-top: 50px;
}

.continue button {
  padding: 1.2em 2em;
  text-decoration: none;
  font-family: $primary-font;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: white;
  background: $button-base;
  opacity: 1;
  transition: background-color 0.25s, opacity 0.25s ease-out; /* vendorless fallback */
}

.continue button:hover {
  cursor: pointer;
  background: $button-hover;
}

.continue button:disabled {
  color: #dcdcdc;
  background: #a6a6a6;
  opacity: 0.5;
}
