<div id="view" [ngSwitch]="progress">
    <div class="v1" *ngSwitchCase="0">
        <div [@fadeDrop] (@fadeDrop.done)="first_fadeDropCompletion()">
            <span>How</span>
            <span> to</span>
            <span> create</span>
            <span> a</span>
            <span> song's</span>
        </div>

        <div class="highlighted-container">
            <span [@highlight]="first_highlight" class="highlight"></span>
            <span [@highlightText]="first_text_highlight" (@highlightText.done)="animEnd($event)">
                Lyrical Fingerprint
            </span>
        </div>
    </div>


    <div class="v2" *ngSwitchCase="1">
        <div [ngStyle]="!showHowTo && {'opacity': '0'}">
            <span>How</span>
            <span> to</span>
            <span> create</span>
            <span> a</span>
            <span> song's</span>
        </div>
        <div class="highlighted-container" [@raiseHighlight] (@raiseHighlight.done)="second_raiseHighlightDone()">
            <span [@highlight]="first_highlight" class="highlight"></span>
            <span [@highlightText]="first_text_highlight">
                Lyrical Fingerprint
            </span>
        </div>
    
    
    
    
    
    </div>




    <div class="v3" *ngSwitchCase="2">
        yo!
    </div>
    <div class="v4" *ngSwitchCase="3">
        yo!
    </div>
    <div class="v5" *ngSwitchCase="4">
        yo!
    </div>
</div>
<div class="continue">
    <button class="continue" [disabled]="!buttonActive" #continueButton> Continue! </button>
</div>