.main {
  grid-area: main;
  align-self: center;
  margin: 0 auto;
}

.sidebar {
  grid-area: right;
  width: 100%;
}

.grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "main right";
  grid-column-gap: 30px;
  padding-top: 5vh;
}

.grid-container {
  color: black;
  font: 30px sans-serif;
}