.main {
    grid-area: main;
    align-self: center;
    margin: 0 auto;
  }

.sidebar {
    grid-area: right;
}

.grid-container {
    display: grid;
    // justify-items: center;
    grid-template-areas:
      'main right';
    grid-column-gap: 30px;
    padding-top: 5vh;
  }