h1, h2 {
    color: white;
    font-family: 'Poppins', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h1 {
    font-size: 28px;
    font-weight: 700;
}
h2 {
    font-size: 22px;
    font-weight: 400;
}