<div id="info-div">
    <div *ngIf="selectedSongAlbumArtUrl else default">
        <img src={{selectedSongAlbumArtUrl}} alt="">
    </div>
    <ng-template #default>
        <div class="loading">
            <div class="lds-facebook">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-template>
    <div class="song-info" *ngIf="songInfoObs | async as song">
        <div class="song_title">{{song.title}}</div>
        <div class="artist">{{song.artist}}</div>
    </div>

</div>