.song_title, .artist {
    color: white;
    font-family: 'Poppins', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.song_title {
    font-size: 28px;
    font-weight: 700;
    padding-top: 20px;
}
.artist {
    font-size: 22px;
    font-weight: 400;
}

img, app-loading{
    height: 150px;
    width: 150px;
    padding-top: 30px;
}

app-loading{
  padding-left: 25px;
}
