<form [formGroup]="myForm">
    <div class="input-wrapper" data-text="">
        <input type="text" list="song_options" formControlName="searchbox" placeholder="Search">
        <datalist id="song_options">
            <option *ngFor="let song of songOptions" (click)="fetchSong($event, song)"
                value="{{song.title}} - by {{song.artist}}">
        </datalist>
    </div>
</form>

<div (mouseover)="changeLabel=true" (mouseout)="changeLabel=false" style="width:22px;" class="ico">
    <fa-icon *ngIf="changeLabel" [classes]="['hover-icon']" [icon]="faRandom" size="lg"
        (click)='fetchRandomSong()' [styles]="{'color': '#fff568'}"></fa-icon>
    <fa-icon *ngIf="!changeLabel" [classes]="['hover-icon']" [icon]="faRandom" size="lg"
        (click)='fetchRandomSong()' [styles]="{'color': '#FFFFFF'}"></fa-icon>
</div>

<style>
    svg.svg-inline--fa.fa-random.fa-w-16.fa-lg.hover-icon:hover {
        cursor: pointer;
        color: black;
    }
</style>